---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

export interface IArticle {
  userId: number;
  id: number;
  title: string;
  imageUrl: string;
  summary: string;
}

export interface IReport {
  id: number;
  title: string;
  url: string;
  imageUrl: string;
  newsSite: string;
  summary: string;
  publishedAt: string;
}

const articleResponse = await fetch(
  "https://api.spaceflightnewsapi.net/v3/articles"
);

const reportResponse = await fetch(
  "https://api.spaceflightnewsapi.net/v3/reports"
);

const articleData = await articleResponse.json();
const reportData = await reportResponse.json();

const articles = articleData.slice(0, 11);
const reports = reportData.slice(0, 20);
---

<Layout title="Astro News">
  <main>
    <h1>*ASTRONEWS*</h1>

    <div class="container">
      <div>
        <p>Latest articles</p>
      </div>
      <div class="article-container">
        {
          articles.map((article: IArticle) => (
            <Card article={article} articleType="article" />
          ))
        }
      </div>
      <div class="report">
        <p>Reports</p>
      </div>
      <div class="article-container">
        {
          reports.map((report: IReport) => (
            <Card article={report} articleType="report" />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
<style>
  @inject "tokencss:base";
  h1 {
    padding: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    color: gray.2;
  }

  .container {
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: gray.2;
  }

  p {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .report {
    display: flex;
    padding: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .article-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
</style>
